a img,:link img,:visited img {border: none;}

body {
	font-size :large;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
}

a:visited,
a:active,
a:link {	
	color: #000080;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}